body{
font-family:Arial;
background:#f0f0f0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
text-align:center;
}

.logo{
width:80px;
margin-bottom:20px;
}

label{
display:block;
text-align:left;
margin-top:10px;
}

input{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:10px;
border:1px solid #ccc;
border-radius:5px;
}

.opsi{
display:flex;
justify-content:space-between;
align-items:center;
font-size:14px;
margin-bottom:15px;
}

.ingat{
display:flex;
align-items:center;
gap:5px;
}

.ingat label{
display:inline;
margin:0;
}

.ingat input{
width:auto;
}

button{
width:100%;
padding:10px;
background:black;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#333;
transform:scale(1.05);
}